<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coffee</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
</head>
<body ng-app="AngularfilterApp">
   
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo mr-auto"><img src="assets/img/favicon.png" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Documentation">Documentation</a></li>
          <li><a href="#table">Table</a></li>
          <li><a href="#tools">Tools</a></li>
          

        </ul>
      </nav><!-- .nav-menu -->
      <a href="#about" class="get-started-btn scrollto">CONTACT</a>


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better solutions for your project.</h1>
          <h2>This is a site designed to assist programmers and designers in identifying standard modules and the difference between them</h2>
          <div class="d-lg-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>About Us</h2>
            </div>
    
            <div class="row content">
              <div class="col-lg-6">
                <p>
                    We are a team of programmers that create websites that give programmers and designers a sweet and a benefit.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Designing interactive websites for programmers.</li>
                  <li><i class="ri-check-double-line"></i> Providing services and assistance to programmers.</li>
                  <li><i class="ri-check-double-line"></i> Write helpful programmers articles.</li>
                </ul>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                  We always strive to create a new generation of professional programmers by directing them on the right path and solving all problems that may face them.</p>
                   <p>You can find out more about our team by communicating with us or seeing the new </p>
                <a href="#" class="btn-learn-more">Learn More</a>
              </div>
            </div>
    
          </div>
        </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up" id="Documentation">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- Start Table -->
    <section id="table">
        <div class="container-fluid" data-aos="fade-up">
            <div class="section-title">
                <h2>Size Table</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
              </div>
      
 

        <div data-aos="fade-zoom-in" data-aos-delay="900" ng-controller="filterctrl">
            <div class="input" style="   text-align: center; padding: 30px;">
              <div class="row">
                  <div class="col-lg-6" style="padding-left: 80px;">
                      <div class="form-group row">
                         <div class="col-md-6">
                           <input   class="Name form-control" id="inputEmail4" ng-model="searchtxt.name" type="text" placeholder="Filter:Enter Name">
                         </div>
                       </div>
                     </div>



              </div>
        <div class="table-wrapper">
           <table class="fl-table">
            <thead>
              <tr data-aos="fade-up">
               <th>Name</th>
               <th>Units=px </th>
               <th>Definition</th>
            </tr>
          </thead>
          <tbody >
          
          <tr data-aos="fade-zoom-in"  ng-repeat="user in users | filter : searchtxt" >
            <td >{{user.name}}</td>
            <td>{{user.Units}}</td>
            <td>{{user.Definition}}</td>
          </tr>
          <tbody>
      </table>
          </div>
    
     </div>
     </div>
     </div>
     
    </section>
    <!-- End Table -->

    <section id="tools">
      
        <div class="container">
            <div class="section-title">
                <h2>First  Tool </h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
              </div>
      
           <div class="row"> 

              <div class="col-lg-6">
              <div class="form-group col-md-12">
                  <label for="inputState">State</label>
                  <select class="select" style="width:400px;" Id="height" onChange="Calculate();">
                    <option selected>Selected Size</option>
                    <option class="option" value=37.7952755906>CM</option>
                    <option class="option" value=96>IN</option>
                    <option class="option" value=3.7795275591>MM</option>
                    <option class="option" value=1.3281472327365>PT</option>
                    <option class="option" value=8>REM</option>
                    <option class="option" value=4.5>VH</option>
                    <option class="option" value=80>VW</option>
                    <option class="option" value=16>EM</option>                    
                  </select>
              </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group col-md-12">
                     <label for="inputEmail4">Enter Size Number</label>
                      <input style="width:400px;" type="text" Id="length" onChange="Calculate();" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                 </div>
              </div>

              </div>
                  <div class="col-lg-12" >
                      <div style="border: 2px dashed; padding: 20px;text-align: center;">
                        <h1>Calculation Result:</h1>
                        <label style="display: inline-flex"> <!-- a Label to locate result in it -->
                         <h4 id="lblRes"></h4>
                         <h4>PX</h4>
                        </label>

                      </div>
                      </div>
                </div>
        </div>
    </section>
    
    <section id="tools">
      
        <div class="container">
            <div class="section-title">
                <h2>Second  Tools </h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
              </div>
      
           <div class="row"> 

              <div class="col-lg-6">
              <div class="form-group col-md-12">
                  <label for="inputState">State</label>
                  <select class="select" style="width:400px;" Id="width" onChange="Calculate();">
                    <option selected>Selected Size</option>
                    <option class="option" value=37.7952755906>CM</option>
                    <option class="option" value=96>IN</option>
                    <option class="option" value=3.7795275591>MM</option>
                    <option class="option" value=1.3281472327365>PT</option>
                    <option class="option" value=8>REM</option>
                    <option class="option" value=4.5>VH</option>
                    <option class="option" value=80>VW</option>
                    <option class="option" value=16>EM</option>                    
                  </select>
              </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group col-md-12">
                     <label for="inputEmail4">Enter Size Number</label>
                      <input style="width:400px;" type="text" Id="padding" onChange="Calculate();" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                 </div>
              </div>

              </div>
                  <div class="col-lg-12" >
                      <div style="border: 2px dashed; padding: 20px;text-align: center;">
                        <h1>Calculation Result:</h1>
                        <label style="display: inline-flex"> <!-- a Label to locate result in it -->
                         <h4 id="demo"></h4>
                         <h4>PX</h4>
                        </label>

                      </div>
                      </div>
                </div>
        </div>
    </section>
    
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact Us</h2>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Tame,Sohag,Egypt</p>
              </div>
            </div>
  
            <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>programmerscoffee@gmail.com
                  <br
                  >ba9531010@gmail.com</p>
              </div>
            </div>
  
            <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="info-box ">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>01027855104<br>01101775645</p>
              </div>
            </div>
  

          </div>
  
        </div>
      </section><!-- End Contact Us Section -->
  
    </main>
    
  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CSS SIZE</h3>
            <p>
              Egypt <br><br>
              <strong>Phone:</strong> +01027855104<br>
              <strong>Email:</strong> programmerscoffee@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Table</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Tools</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Documentation</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social </h4>
            <p>You can communicate and follow all new developments via social media</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="icofont-github"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Css Size</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://AbdElrhman125@github.com/">AbdElrhman125</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <script>
      function Calculate()
		{
			var h = document.getElementById('height').value;
			var l = document.getElementById('length').value;
			var result = h * l;
			document.getElementById('lblRes').innerHTML = result;
		};
    function Calculate()
		{
			var w = document.getElementById('width').value;
			var p = document.getElementById('padding').value;
			var result = w / p;
			document.getElementById('demo').innerHTML = result;
		};

  var app = angular.module("AngularfilterApp", []);
  app.controller("filterctrl", function ($scope) {
  $scope.users = [
      {name: "CM" ,Units: "37.7952755906 px",   Definition: "It is a unit of measure used for medium and large sizes" },
      {name: "IN" ,Units: "96 px",              Definition: "It is a unit of measure used for medium and large sizes" }, 
      {name: "MM" ,Units: "3.7795275591 px",    Definition: "It is a unit of measure used for medium and large sizes"}, 
      {name: "PT", Units: "1.3281472327365 px", Definition: "It is a unit of measure used for medium and large sizes" },
      {name: "REM",Units: "16 px",              Definition: "It is a unit of measure used for medium and large sizes" },
      {name: "VH", Units: "8 px",               Definition: "1% of the viewport’s height (or 8px)"},
      {name: "VW", Units: "4.5 px",             Definition: "1% of the viewport’s width (or 4.8px)"},
      {name: "EM" ,Units: "16 px",              Definition: "It is a unit of measure used for medium and large sizes" }];
  });
  AOS.init();

  </script>
</body>
</html>